<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="account">
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="{{account.picture}}">
        </ion-thumbnail>
        <div class="p-15" item-end>
          <h2>{{account.company}}</h2>
        </div>
      </ion-item>
      <ion-item>
        <div>
          <p>email : {{account.email}}</p>
          <p>phone : {{account.phone}}</p>
          <p>
            address : {{account.address}}
          </p>
        </div>
      </ion-item>
      <ion-item (click)="getGoogleMap($event)" >
        View Map
      </ion-item>
    </ion-list>
    <ion-card-content>
      {{account.about}}
    </ion-card-content>
  </ion-card>
</ion-content>